body {
    background-color: #000d1a;
    font-family: 'Birthstone', cursive;
}
.container {
    margin-top: 50px;
    width: 50%;
    height: auto;
    margin: auto;
    display: grid;
    justify-content: center;
  
}

img {
    margin: 50px auto;
    padding: 25px;
    width: 200px;
    height:  200px;
    border-radius: 50%;


}
h1 {
    color: white;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
}
ul {
    list-style-type: none;
    padding: 25px 0 0 0;
    text-align: center;
    
}
li {
    border-radius: 5px;
    margin: 25px auto 0 auto;
    width: 100%;
    padding: 12px 0 12px 0;
    background-color: #001a33;
    border: 1px solid grey;
   
}
    li:hover {
        box-shadow: 5px 5px #02294e;
    }
a {
     text-decoration: none;
    font-size: 25px;
    color: white;
   
}

li:hover {
    animation: glow 1s ease-in-out infinite alternate;
    background-color: #003566;
    transition: 1s;
}


/*light effect li*/
@keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #003566, 0 0 40px #003566, 0 0 50px #003566, 0 0 60px #003566, 0 0 70px #003566;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #003566, 0 0 40px #003566, 0 0 50px #003566, 0 0 60px #003566, 0 0 70px #003566, 0 0 80px #003566;
    }
  }

.image-box {
    position:relative;
}

.circle {
    margin-top: 50px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #003566;
    border-bottom-color: #003566;
    animation: spin 1s ease-in-out infinite;
    position: absolute;
    left: 20px;
    top: 22px;
   
}
    
@keyframes spin {
    to {
        transform: rotate(360deg)
    }
}